@use '../variables' as *;
@use '../functions' as *;
@use '../mixins' as *;

.project {
	@include flex-between;
	align-items: stretch;
	gap: 4rem;
	padding-top: 2rem;

	&__content {
		flex: 2;
	}

	&__title {
		font-size: font-size('heading-medium');
		font-weight: 700;
		line-height: 1.3;
		margin-bottom: 1.813rem;
		width: 100%;
		max-width: 500px;
	}

	&__description {
		width: 100%;
		max-width: 650px;

		p {
			line-height: 1.6;
			font-size: 1rem;
			opacity: opacity('visible');
			margin-bottom: 1.5rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__details {
		flex: 0.7;
		width: 100%;
		min-width: 335px;
		display: flex;
		flex-direction: column;
	}

	&__info-list {
		font-size: 1rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		flex-grow: 1;
	}

	&__info-label {
		grid-column: 1 / 2;
		padding: 0.75rem 0;
		border-bottom: space('border-thin') solid #eee;
		font-size: font-size('label');
		font-weight: 700;
		opacity: opacity('medium');
	}

	&__info-value {
		grid-column: 2 / 3;
		margin-left: 0;
		padding: 0.75rem 0;
		border-bottom: space('border-thin') solid #eee;
		font-size: font-size('label');
		font-weight: 700;
	}

	&__showcase {
		margin: 3.813rem 0 2.5rem;
	}

	&__featured-image {
		width: 100%;
		height: 100%;
	}

	&__featured-text {
		line-height: 1.6;
		font-size: 1rem;
		opacity: opacity('visible');
		margin: 2.813rem 0;
	}

	&__gallery {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.25rem;
	}

	&__gallery-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
