@use '../mixins';

.footer {
	color: $text-color-primary;
	&__navigation {
		@include mixins.flex;
		justify-content: space-between;
		padding: 20px 0;
	}

	&__links-box {
		@include mixins.flex;
	}

	&__link {
		font-weight: bold;
		font-size: 18px;
		letter-spacing: -0.35px;
	}

	&__list {
		@include mixins.flex;
	}

	&__item {
		padding: 10px 20px;
	}

	&__social-list {
		@include mixins.flex;
	}

	&__social-item {
		padding: 10px;
	}
}
