@use '../variables' as *;
@use '../functions' as *;
@use '../mixins' as *;

.footer {
	margin-top: 3.125rem;
	padding: 0.875rem 0 2.938rem;

	&__navigation {
		@include flex-between;
		padding: space('header-padding') 0;
	}

	&__logo,
	&__links-box {
		@include flex-center;
		flex: 1;
	}

	&__links-box {
		justify-content: end;
	}

	&__menu {
		margin-right: 4rem;
	}

	&__socials {
		padding-right: space(nav-spacing);
	}

	&__link {
		font-weight: 700;
		font-size: font-size('nav-link');
		letter-spacing: -0.35px;
		transition: color 0.3s ease;
		margin-right: space('nav-spacing');

		&:hover {
			color: $text-color-secondary;
		}
	}

	&__list {
		@include flex;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin-right: space('nav-spacing');
	}

	&__social-list {
		@include flex;
		margin: 0;
		padding: 0;
	}

	&__social-item {
		padding: 0.625rem;
		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.2);
		}
	}

	&__social-link {
		color: $text-color-primary;
		font-size: font-size('nav-link');
		transition: color 0.3s ease;

		&:hover {
			color: $text-color-secondary;
		}
	}
}
