@use '../mixins';

.header {
	padding: 20px 0;
	margin-bottom: 2rem;
	font-family: 'Mulish', sans-serif;

	&__navigation {
		@include mixins.flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		flex: 1;
	}

	&__menu {
		flex: 1;
	}

	&__list {
		@include mixins.flex;
		justify-content: end;
	}

	&__item {
		margin-left: 30px;
		font-family: inherit;
	}

	&__link {
		text-decoration: none;
		color: inherit;
		text-transform: capitalize;
		font-size: 18px;
		font-weight: bold;
	}
}
