@use '../variables' as *;
@use '../functions' as *;
@use '../mixins' as *;

.header {
	margin: 1.9375rem 0 3rem;
	padding: space('header-padding') 0;

	&__navigation {
		@include flex-between;
		@include flex-center;
	}

	&__logo {
		flex: 1;
	}

	&__menu {
		flex: 1;
	}

	&__list {
		@include flex;
		justify-content: end;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin-right: space('nav-spacing');
		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.2);
		}
	}

	&__link {
		text-transform: capitalize;
		font-size: font-size('nav-link');
		font-weight: 700;
		padding: 0.75rem 1.6rem;
		transition: all 0.3s ease;

		&:hover {
			color: $text-color-secondary;
		}
	}
}
